<div class="container">
	<div class="jumbotron">
		<img src="https://thestingyvegan.com/wp-content/uploads/2018/04/vegan-black-bean-burgers-photo.jpg"
			width="auto" height="450px">
		{{!-- <img src="https://cdn.vox-cdn.com/thumbor/ziSM4sGDYvQM6LBChM8LyfBXwko=/0x0:4047x3035/1570x883/filters:focal(1700x1194:2346x1840):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/64046617/20150915-_Upland_Burger_3.0.0.1489236245.0.jpg"> --}}
		<img src="https://thumbor.thedailymeal.com/LO6D-SAYlqe8Q3CzC4ctFMdzaJo=/870x565/filters:format(webp)/https://www.thedailymeal.com/sites/default/files/2019/05/24/9-aucheval-hogsalt.jpg"
			width="auto" height="450">
		<h1>Eat Burgers!!!</h1>
	</div>



	<div class="row">

		<div class="col-md-6 col-md-offset-1">
			<div class="panel-panel default">
				<h1>Ready to Eat Burger</h1>
				<ul class="list-group">
					{{#each burgers}}
					{{#unless this.devoured}}
					{{> burgers/burger-block devoured=false}}
					{{/unless}}
					{{/each}}
				</ul>

			</div>
		</div>


		{{!-- <div class="row"> --}}
			<div class="col-md-6 col-md-offset-2">
				<h1>Devoured Burgers</h1>
				<div class="panel panel-default">
					<ul class="list-group">
						{{#each burgers}}
						{{#if this.devoured}}
						{{> burgers/burger-block devoured=true}}
						{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
		{{!-- </div> --}}

	</div>
			<div class="col-md-12 col-md-offset-1">
			<p class="lead">add burger & click submit</p>

			<form class="create-update-form" action="burgers/create" method="POST">
				<div class="form-group">
					<textarea class="form-control input-lg" type="text" name="burger_name" row="3"></textarea>
				</div>
				<button class="btn btn-default btn-lg" type="submit">Submit</button>
			</form>
		</div>
</div>