<div class="container">
	<div class="jumbotron">
		<img src="https://thestingyvegan.com/wp-content/uploads/2018/04/vegan-black-bean-burgers-photo.jpg"
			width="auto" height="550px">
		<h1>Eat Burgers!!!</h1>
	</div>



	<div class="row">

		<div class="col-md-6 col-md-offset-1">
			<div class="panel-panel default">
				<h1>Ready to Eat Burger</h1>
				<ul class="list-group">
					{{#each burgers}}
					{{#unless this.devoured}}
					{{> burgers/burger-block devoured=false}}
					{{/unless}}
					{{/each}}
				</ul>

			</div>
		</div>


		{{!-- <div class="row"> --}}
			<div class="col-md-6 col-md-offset-2">
				<h1>Devoured Burgers</h1>
				<div class="panel panel-default">
					<ul class="list-group">
						{{#each burgers}}
						{{#if this.devoured}}
						{{> burgers/burger-block devoured=true}}
						{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
		{{!-- </div> --}}

	</div>
			<div class="col-md-12 col-md-offset-1">
			<p class="lead">add burger & click submit</p>

			<form class="create-update-form" action="burgers/create" method="POST">
				<div class="form-group">
					<textarea class="form-control input-lg" type="text" name="burger_name" row="3"></textarea>
				</div>
				<button class="btn btn-default btn-lg" type="submit">Submit</button>
			</form>
		</div>
</div>